
__pycache__/
*.py[cod]
*$py.class
**/*.pyc


*.so


.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST




*.manifest
*.spec


pip-log.txt
pip-delete-this-directory.txt


htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/


*.mo
*.pot


*.log
local_settings.py
db.sqlite3


instance/
.webassets-cache


.scrapy


docs/_build/


target/


.ipynb_checkpoints


.python-version


celerybeat-schedule


*.sage.py


.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


/site


.mypy_cache/


/data
.vscode
.idea
*.pkl
*.pkl.json
*.log.json
benchlist.txt
work_dirs/
.cache/


*.pth


*.prof


*.mdb


pyskl/configs/*
pyskl/tools/*


!demo/*.ipynb
pyskl/.mim
.VScodeCounter
tmp/*

examples/extract_diving48_skeleton/*json
examples/extract_diving48_skeleton/*list
examples/extract_diving48_skeleton/*pkl
configs/gen_config.ipynb
dev.ipynb
test.ipynb
